*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0)100%,rgba(0,0,0,0)100%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    padding-left:0px;
    float: left;
    padding-top: 45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    position: relative;
    top: -23px;
    left: -190px;

}
.top-bar{
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #3A6EA5, #6D9DC5);
}

.menu{
    width:500x;
    float: left;
    height: 70px;
}

ul{
    padding-top: 10px;
    float:left;
    display:flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 25px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration:none;
    color: #ffffff;
    font-family: Arial;
    font-weight:bold;
    transition: 0.4s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

ul li a:hover{
    color:#c99f61
}

.text{
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.text-box{
    width: 1000px; /* Adjust width */
    height: 700px; /* Adjust height */
    background-color: white; /* White background */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    display: flex; /* Center content */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto; /* Center box on the page */
    border: 1px solid #ddd; /* Optional border */ 
    position: relative;
    top: 200px;
}

.profile-image {
    width: 200px; /* Reduce the size */
    height: 300px; /* Aspect ratio for the oval shape */
    object-fit: cover; /* Ensures the image fits nicely */
    border-radius: 50%; /* Makes it a circle */
    margin-bottom: 20px; /* Add spacing below */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    border: 2px solid #ddd; /* Optional border */
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.header{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: bold;
    color:black;
    padding-bottom: 50px;
}

.paragraph-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 80%;
    text-align: center;
}


